<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Devices</title>
</head>
<body>
    {% extends "devices/base.html" %}

    <!-- 使用jumbotron设置主页的样式 -->
    {% block header%}
        <div class="jumbotron">
            <h1>尝试搭建一个IOT平台</h1>
        </div>
    {% endblock header%}
    <!-- 指定父模板 -->
    {% block content %}
        <h2>
            <a href="{% url 'users:register' %}">Register an account </a>
            , and to list the topics you created.
        </h2>
        <h2>
            List the topics, add new topic,
            and you can make an entry summarizing what you want to show.
        </h2>
    {% endblock content %}
</body>
</html>